<h1 class="title">{{ article?.title }}</h1>

<div class="meta">
  <p class="category">Category: {{ article.category }}</p>

  <div class="tags">
    <p>Tags:</p>
    <ul *ngIf="article.tags">
      <li *ngFor="let tag of article.tags; let lastChild = last">{{ tag }}<span *ngIf="!lastChild">,&nbsp;</span></li>
    </ul>
  </div>

  <div class="date">
    <div class="published">
      <p>Published: {{ article.monthName.slice(0, 3) }} {{ article.day }}, {{ article.year }}</p>
    </div>
  </div>

  <p class="reading-time">Reading Time: {{ article.readingTime }}</p>
</div>

<div class="content" [innerHtml]="content"></div>

<dr-newsletter></dr-newsletter>
<dr-remarkbox></dr-remarkbox>
