<ul>
  <li *ngFor="let article of articles">
    <p class="title"><a [routerLink]="(slug === 'home') ? ['articles', article.slug] : [article.slug]">{{ article.title }}</a></p>

    <div class="category">
      <p>category: {{ article.category }}</p>
    </div>

    <div class="date">
      <div class="published">
        <p>published: {{ article.monthName.slice(0, 3) }} {{ article.day }}, {{ article.year }}</p>
      </div>
    </div>

    <div class="reading-time">
      <p>reading time: {{ article.readingTime }}</p>
    </div>

    <div class="excerpt">
      <p>{{ article.excerpt }}</p>
    </div>
  </li>
</ul>

<dr-newsletter></dr-newsletter>
